.menu-bar{
  -fx-background-color: #3c3f41;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: #3c3f41;
}

.menu .label{
   -fx-text-fill: #f8f8f2;
}

.menu-item {
 -fx-background-color: #3c3f41;
}

.menu-item .left-container {
 -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}

.menu-item .graphic-container {
 -fx-padding: 0em 0.333em 0em 0em;
}

.menu-item .label {
 -fx-text-fill: white;
}

.menu-item:focused {
  -fx-background-color: #6272a4;
}

.menu-item:focused .label {
 -fx-text-fill: white;
}
