.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: #585858;
}

.tab-pane{

    -fx-tab-min-width:90px;
    -fx-background-color: #3c3f41;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #3d3e3f;
}

.tab-pane .tab:selected
{
    -fx-background-color: #585b4f;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f8f8f2;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}